---
layout: default
title: Дрезден-Леуварден
---
<table class="contentpaneopen">
	<tr>
		<td valign="top">
			<div><br />Ну а Леуверден, как то сам собою приволочился, хотя там уж вообще ожидалась "труба", и заклинание: "только бы не оч. хор, только бы не оч. хор." шепталось мною утром и вечером...<br />следствим чего и явилось спонтанное ночное выступление: в гостинице, накануне выставки в Дрездене, во сне, я подняла сжатую в кулак руку, помохала ею перед изумлённой Галиной и заорала: НА БЕРЛИН"""", после чего,обе, посмеявшись, благополучно заснули!!!<br />
			Итак:</div>
			<div><br />Под Берлином&nbsp;
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/1.jpg" height="300"%}</p></div>
			<div>Галина и Папирус&nbsp;
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/2.jpg" height="300"%}</p></div>
			<div>Я и медведь
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/3.jpg" height="300"%}</p></div>
			<div>А на улице...весна во всей красе!!! Цветёт миндаль</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/4.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/5.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/6.jpg" height="300"%}</p>
			<div></div>
			&nbsp;
			<div>Цветы и чистота...</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/7.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/8.jpg" height="300"%} </p>
			<div>Магазин, что то вроде ОБИ, очень красивый бассейн с рыбами</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/9.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/10.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/11.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/12.jpg" height="300"%}</p>
			<div>Ну вот и приехали в Дрезден! В гостинице нас встретили крохотными конфетками на подушках и идеальной чистотой</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/13.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/14.jpg" height="300"%} </p>
			<div>Наконец то отдых, душ и прогулки, собачки развлекаются</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/15.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/16.jpg" height="300"%} </p>
			<div>Вечерний Дрезден, окрестности не далеко от гостиницы</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/17.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/18.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/19.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/20.jpg" height="300"%}</p>
			<div>Первый день выставки! В ожидании проверки глазок и дисплазии нашим питомцам, ходим, приматриваемся, уже покупаем и...балдеем, вобщем, настраиваемся</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/21.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/22.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/23.jpg" height="300"%}</p>
			<div>клуб Еврозиров, кто то ещё в прошлом году просил меня их сфоткать, но...вот только теперь..</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/24.jpg" height="300"%}</p></div>
			<div>Евразиры</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/25.jpg" height="300"%}</p></div>
			<div>выставочная атмосфера</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/26.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/27.jpg" height="300"%} </p>
			<div>А это жутко колоритные дядьки, просто прелесть, сплошной восторг!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/28.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/29.jpg" height="300"%} </p>
			<div>Проверили глаза Юке, Пересвету и Тине - все супер гуд, Тиника, молодец!!!! Совсем небольшие возрастные изменения, практически идеальное зрение!!!!<br />Пересвету и Юке проверены коленки, локти и тазобедренные суставы, то же всё отлично!!!! Отвезли наших любимцев в гостиницу, отдыхать перед завтрашним днём, ну а сами, задвинув шопинг отправились в Дрезденскую галерею<br />Готовы???? К Красоте такой...дворцовый комплекс!!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/30.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/31.jpg" height="300"%} </p>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/32.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/33.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/35.jpg" height="300"%} </p>
			<div></div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/36.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/38.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/39.jpg" height="300"%}</p>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/40.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/41.jpg" height="300"%}</p>
			<div>Ну вот и настало воскресенье...Пошли... В БОЙ!!!</div>
			<div>это будующий победитель, как всегда начал скоропостижно померать фотик...</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/42.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/43.jpg" height="300"%} </p>
			<div>Персик</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/44.jpg" height="300"%}</p>
			<div>Большие, красивые, лохматые брюнеты со всех сторон, 20 штук и один блондин Пересвет!!!! Пересвет - блондин...<br />Всё время вспоминался наш Беримор, такой красавец, утёр бы нос загранице, запросто, к тому же он прекрасно ведёт себя в ринге, а заграничные лают, вертятся, швыряются, в общем охраняют зону вокруг себя и хозяина!!!! Большие косматые звери, просто завораживают своей какой то первозданной, диковатой красотой!!!! Да ещё их целая стая, ну очень впечатляюще...<br />&nbsp;Суки</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/45.jpg" height="300"%}</p>
			<div>и мы такие гламурные, Юки - нежнейшее трогательное создание, Тиника - гранд дама..</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/46.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/47.jpg" height="300"%} </p>
			<div>Получили Пересвет и Юки по "отлично", по второму месту в классе чемпионов, получили по рез САС, Тина - Лучший Ветеран, а ещё победила в бесте ветеранов!!! Поборолись с Персиком за рез. САС!В, но ...увы, увы, увы</div>
			<div>А это БЕСТ шпицев!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/48.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/49.jpg" height="300"%} </p>
			<div>Бест шпицев, и только шпицев, оказалось редкое явление, может, конечно только я видела его впервые, ну очень славное зрелище!!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/50.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/51.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/52.jpg" height="300"%}</p>
			<div>Здорово, правда?!!!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/54.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/55.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/56.jpg" height="300"%} {% include photo_phoca.html photo="drezden-leyvarden/57.jpg" height="300"%}</p>
			<div>Вот так закончились приключения в Дрездене, столице Саксонии!!!! Получили огромное удовольствие от города, выставки и шпицев и вольфшпицев, совсем другое впечатление, когда их много, красивые, большие, сильные звери, хотя, все таки, они ...другие, ну более звери, что ли, но очень хороши!<br />Ещё есть видео с вольфами, но я не умею с ним управляться, выставит дочка вечером, вдогонку...</div>
			<div>А вы, если не устали, то. с нами, в автобус, спать и в Голландию, столицу Фрисландии, в город, где родилась Мата Хари и Саския - жена Рембрандта!!!</div>
			<div>Доброе утро, Леуварден!!!!Судья финн, ну и только бы не оч хор.</div>
			<div>Входдддддддддддддддддддддддд</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/58.jpg" height="300"%}</p>
			<div>оркестр духовой, так приятно!!! Такие красавцы!!!!</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/59.jpg" height="300"%}</p>
			<div>перед началом рингов, все встали и оркестр и удивительный хор исполнили гимн !!! Очень торжественое открытие!</div>
			<div>Перед рингом, надо немного освежиться<br />Пересвет на выгуле</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/60.jpg" height="300"%}</p>
			<div>Юки прихорашивается</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/61.jpg" height="300"%}</p>
			<div>Пересвет в ринге<br />Бежала я так, что только после третьего круга помощник и судья меня остановили под общий хохот!!!! Ну очень хотелось победы,,,</div>
			<p align="center">{% include photo_phoca.html photo="drezden-leyvarden/63.jpg" height="300"%}</p>
			<div>Пересвету достался 1 место в классе чемпионов, рез. САС и резерв САС!В!!! <br />Конечно....кто то скажет, многого хотите, да ещё в таких странах, да хотим, хотим, разве мы, и многие из наших Российских собачек этого не достойны, всё впереди!!!! <br />На этом окончательно помер фотик!<br />Выступление Тины и Юки не сфоткалось, но девчёнки дали прикурить!!!! Тина - лучший ветеран и ЛС, ну а милейшая Юки ,первое место в классе чемпионов рез.САС, САС!В и ИНТЕРЧЕМПИОНСТВО!!!!</div>
			<div>Ещё из за фотика не сфоткала дивный хор "Пенсии и пляски" очень пожилые мужчины, одетые в красные тениски и чёрные брюки, отжигали так, что просто хотелось плакать от счастья жить, от того что всё это видишь и слышишь, от живой музыки и красоты и доброты вокруг.</div>
			<div>очень удобные ринги и в Дрездене и в Леувардене, много места, широкие проходы, в Дрездене нам подарили ещё и кубочек, на память за призовое место.<br /> В общем поездка удалась и мы счастливые отправились домой!!!! Девчёнки с победой, Пересвет с перспективой!!!</div>
		</td>
	</tr>
</table>
