---
layout: default
title: Эстония
---
<table class="contentpaneopen">
	<tr>
		<td valign="top">
			<p><br />Наш микроавтобус</p>
			<p align="center">{% include photo_stories.html photo="estoniya/1.jpg" height="300" %}</p>
			<div>Наш рыцарь:</div>
			<p align="center">{% include photo_stories.html photo="estoniya/2.jpg" height="300" %}</p>
			<p>По дороге, заняв удобную позицию разрабатываем сратегию предстоящей битвы трёх кеесхондов!!!!</p>
			<p align="center">{% include photo_stories.html photo="estoniya/3.jpg" height="300" %}</p>
			На выставке было огромное количество Финских собак, и почему под Эстонского судью приплинтухали только мы, осталось загадкой, ну и нам больше досталось, естественно Бен в машине, мальчики по череди свободно по машине гуляли
			<p align="center">{% include photo_stories.html photo="estoniya/4.jpg" height="300" %}&nbsp;{% include photo_stories.html photo="estoniya/5.jpg" height="300" %}</p>
			Ночью проехали Псков и Таллин и приехали в крохотный и чистенький городок...ой название потом скажу..
			<p align="center">{% include photo_stories.html photo="estoniya/6.jpg" height="300" %}</p>
			выгружайтесь (Бен и Юки) временно в одной комнате
			<p align="center">{% include photo_stories.html photo="estoniya/7.jpg" height="300" %}</p>
			слева за углом уже и выставка, 100м
			<p align="center">{% include photo_stories.html photo="estoniya/8.jpg" height="300" %}</p>
			Бен и Пересвет - волнуемся
			<p align="center">{% include photo_stories.html photo="estoniya/9.jpg" height="300" %}</p>
			Бен в ринге
			<p align="center">{% include photo_stories.html photo="estoniya/10.jpg" height="300" %}&nbsp;{% include photo_stories.html photo="estoniya/11.jpg" height="300" %}</p>
			всё замечательно!!! САС, ЛВ, Чемпион Эстонии Закрыт титул ЧЕМПИОН БАЛТИИ!!! Не очень качество,... Пересвет и я
			<p align="center">{% include photo_stories.html photo="estoniya/12.jpg" height="300" %}</p>
			-- Всё прошло замечательно СW, САС, Чемпион Эстонии, добрая судья и очень доброжелательная, перешла с нами на русский, ей очень понравились наши собаки, но разглядывала очень внимательно и замечания были строгими Сравнение на ЛК
			<p align="center">{% include photo_stories.html photo="estoniya/13.jpg" height="300" %}</p>
			Не легко сделать выбор...такие разные..
			<p align="center">{% include photo_stories.html photo="estoniya/14.jpg" height="300" %}</p>
			гоняют
			<p align="center">{% include photo_stories.html photo="estoniya/15.jpg" height="300" %}</p>
			Юки в ринге
			<p align="center">{% include photo_stories.html photo="estoniya/16.jpg" height="300" %}</p>
			радость
			<p align="center">{% include photo_stories.html photo="estoniya/17.jpg" height="300" %}</p>
			Посмотрите, какая красавица!!!
			<p align="center">{% include photo_stories.html photo="estoniya/19.jpg" height="300" %}</p>
			Всё замечательно СW, САС, ЛС, Чемпион Эстонии, закрыли титул Чемпиона Балтии!!! и 10 страну!!! Сравнение на ЛПП
			<p align="center">{% include photo_stories.html photo="estoniya/22.jpg" height="300" %}</p>
			ЛПП ПЕресвет
			<p align="center">{% include photo_stories.html photo="estoniya/23.jpg" height="300" %}</p>
			судья говорит много хорошего, а я ...мурлыкаю
			<p align="center">{% include photo_stories.html photo="estoniya/24.jpg" height="300" %}</p>
			ОТХОДНЯК
			<p align="center">{% include photo_stories.html photo="estoniya/25.jpg" height="300" %}</p>
			гуляем перед Бестами
			<p align="center">{% include photo_stories.html photo="estoniya/26.jpg" height="300" %}</p>
			Ринг для Беста
			<p align="center">{% include photo_stories.html photo="estoniya/28.jpg" height="300" %}</p>
			выходим
			<p align="center">{% include photo_stories.html photo="estoniya/29.jpg" height="300" %}</p>
			проверка реакции...на судью
			<p align="center">{% include photo_stories.html photo="estoniya/30.jpg" height="300" %}</p>
			Очень весёлый и жизнерадостный судья из Норвегии
			<p align="center">{% include photo_stories.html photo="estoniya/31.jpg" height="300" %}</p>
			Нам 3-е место в Бесте группы из 4-х призовых
			<p align="center">{% include photo_stories.html photo="estoniya/32.jpg" height="300" %}</p>
			без курьёзов опять не обошлось: Протянула руку и сделала шаг за наградой...наступила Персику на лапу...Персик взвыл, судья отпрыгнул Я с криком Спасибо, спасибо, бросилась жалеть Персика, а потом с воплем :прости, прости, мой дружок к судье за розеткой, русский он вряд ли понял, но ситуацию просёк на все 100%. и так закатился смехом, что захихикали все близстоящие и.... в общем, мы побежали на пьедестал счастливые на пьдестале
			<p align="center">{% include photo_stories.html photo="estoniya/33.jpg" height="300" %}</p>
			Судья подкрадывается к нам... Пересвет решил самоеда с первого места согнать...пришлось урезонивать обоих
			<p align="center">{% include photo_stories.html photo="estoniya/34.jpg" height="300" %}</p>
			Ветераны выходят в ринг
			<p align="center">{% include photo_stories.html photo="estoniya/35.jpg" height="300" %}</p>
			стоечка
			<p align="center">{% include photo_stories.html photo="estoniya/36.jpg" height="300" %}</p>
			награда
			<p align="center">{% include photo_stories.html photo="estoniya/37.jpg" height="300" %}</p>
			на пьедестале
			<p align="center">{% include photo_stories.html photo="estoniya/37.jpg" height="300" %}</p>
			Теперь всё позади, можно расслабиться Бен на воле
			<p align="center">{% include photo_stories.html photo="estoniya/40.jpg" height="300" %}</p>
			красавец
			<p align="center">{% include photo_stories.html photo="estoniya/41.jpg" height="300" %}</p>
			Бен нас охраняет
			<p align="center">{% include photo_stories.html photo="estoniya/42.jpg" height="300" %}</p>
			Совсем не важное качество...но так хочется показать всю ту красоту которую увидели, хоть и мельком, но поделимся обязательно Это паром ТАЛЛИН
			<p align="center">{% include photo_stories.html photo="estoniya/43.jpg" height="300" %}</p>
			а это корабль в порт
			<p align="center">{% include photo_stories.html photo="estoniya/44.jpg" height="300" %}</p>
			проездом через Таллин
			<p align="center">{% include photo_stories.html photo="estoniya/45.jpg" height="300" %}</p>
			Пусть всего несколько минут, но я наконец то снова увидела и полюбовалась морем!!! Как оно прекрасно, Балтийское море!!! Очень бы хотелось побольше денежек и времени, что бы ещё и погулять по Таллину и Пскову. но на эти города одного дня маловато будет....но...увы всё закончилось и мы очень довольные едем домой
			<p align="center">{% include photo_stories.html photo="estoniya/46.jpg" height="300" %}</p>
			Тёть Лен, ну поделись, ну будь человеком...
			<p align="center">{% include photo_stories.html photo="estoniya/47.jpg" height="300" %}</p>
			Вот и закончилось ещё одно замечательное путешествие!!! Спасибо нашим любимцам Бену, Юки и Пересвету, за то что они есть!!! Огромнейшее спасибо нашему груммеру Елене Пашкевич за прекрасную подготовку собак к выставке , Виктории Ивановне за подготовку и созданию такой прелести как Юка И огромная благодарность лично Сергею Витальевичу и компании Дог шоу Тревел, за подготовку и проведение нашей поездки!
		</td>
	</tr>
</table>
